@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f9e1e1;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ec5276;
  text-align: center;
}

p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ec5276;
}

.back-to-menu {
  text-decoration: none;
  position: fixed;
  top: 2%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec5276;
  color: #ffe4e1;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}

.back-to-menu:hover {
  background-color: #f26c8c;
}

.back-to-menu:active {
  background-color: #d44868;
}

span {
  color: #333;
}

.wrapper .time-box {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.time-box div {
  text-align: center;
}

.next-prev button:hover {
  background-color: #f66486;
}

.next-prev button:active {
  background-color: rgb(248, 156, 177);
}

@media (min-width: 1024px) {
  .back-to-menu {
    padding: 4px 20px;
  }  
}

@media (max-width: 760px) {
  .back-to-menu {
    padding: 2px 10px;
  }
  .piffle {
    top: 15px;
  }
  .piffle img {
    width: 100px;
  }
  .content p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .time-box {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .back-to-menu {
    padding: 2px 10px;
  }
}