@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f9e1e1;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ec5276;
  text-align: center;
}

span, p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ec5276;
}

span {
  color: #333;
}

.wrapper .time-box {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.time-box div {
  text-align: center;
}

.next-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.next-prev button{
  width: fit-content;
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: #ec5276;
  cursor: pointer;
  color: #fcf7f7;
}

.next-prev button:hover {
  background-color: #f66486;
}

.next-prev button:active {
  background-color: rgb(248, 156, 177);
}

@media (max-width: 760px) {
  .piffle {
    top: 15px;
  }
  .piffle img{
    width: 100px;
  }
  .content p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .time-box {
    flex-direction: column;
  }

  .next-prev {

  }
}