* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ffd1dc, #ffe4e1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word-container {
  text-align: center;
}

.scrambled-letters {
  font-size: clamp(30px, 5vw, 40px);
  font-weight: bold;
}

.hint {
  font-size: clamp(10px, 1vw, 1rem);
  color: #272627;
  margin-top: 5px;
}

.input-container {
  margin-top: 20px;
  width: 300px;
}

.input-container input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  border-bottom: 1px solid #ec5276;
  padding: 8px 99px;
  margin-bottom: 10px;
  color: #383838;
}

.input-container button {
  width: 100%;
  padding: 8px;
  background-color: #ec5276;
  border: none;
  border-radius: 3px;
  font-size: clamp(10px, 1vw + 5px, 16px);
  color: #fff;
  font-size: clamp(12px, 2.5vw, 16px);
  cursor: pointer;
}

.input-container button:hover {
  background-color: #f26c8c;
}

.input-container button:active {
  background-color: #d44868;
}

.wrong {
  visibility: hidden;
  color: rgb(213, 75, 75);
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .completion-container img {
    width: 50px;
  }
}

@media (max-width: 300px) {
  .word-container {
    width: 90%;
  }

  .scrambled-letters {
    font-size: 2rem;
  }

  .input-container {
    width: 90%;
  }

  .input-container input {
    padding: 8px 78px;
    font-size: 14px;
  }
}