* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: linear-gradient(135deg, #ffd1dc, #ffe4e1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 85%;
}
.button-container a {
  background-color: #ec5276;
  color: #ffe4e1;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}
.button-container a:hover {
  background-color: #f26c8c;
}
.button-container a:active {
  background-color: #d44868;
}