* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #FFD1DC, #FFE4E1);
  display: flex;
  justify-content: center;
}

#q-a-container {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto 0;
}

#question {
  font-size: clamp(10px, 6vw, 2.1rem);
  color: #4B3F72;
  margin-bottom: 1rem;
}

#choices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#choices button {
  background-color: #ec5276;
  color: aliceblue;
  font-size: clamp(10px, 1vw + 5px, 16px);  margin-left: 10px;
  padding: 0.8em 2em;
  cursor: pointer;
}

#choices button:hover {
  background-color: #f66486;
}

#result-msg {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translateX(-50%);
  font-size: clamp(10px, 1vw + 5px, 16px);
}

.wrong {
  color: rgb(213, 75, 75);
}

.correct {
  font-weight: 600;
  font-size: 30px;
  color: rgb(4, 111, 20);
}

.completion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.completion-container img {
  width: 110px;
}

#timeline-btn {
  padding: 18px 3rem;
  background-color: #ec5276;
  color: #fbe0e0;
  font-size: clamp(7px, 2vw, 14px);
  cursor: pointer;
}

#timeline-btn:hover {
  background-color: #f66486;
}

#timeline-btn:active {
  background-color: #fe9b9b;
}

@media screen and (max-width: 800px) {
  .completion-container img {
    width: 50px;
  }
}

@media screen and (max-width: 800px) {
  #choices {
    flex-direction: column;
  }

  #timeline-btn {
    padding: 7px 20px;
  }
}