* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ffd1dc, #ffe4e1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #4b3f72; /* Deep romantic plum */
  font-size: clamp(30px, 5vw, 60px);
  margin-top: 10px;
}

span {
  color: #7e6a9c; /* Muted lavender-gray */
  font-size: clamp(10px, 1vw, 14px);
  margin-top: 10px;
  text-align: center;
}

.input-holder {
  margin: 20px 0;
  width: 90%;
}

.input-holder input {
  width: 100%;
  height: 35px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid #ff85b3;
  border-radius: 10px;
  color: #5f4b66;
  background-color: #fadadd;
}

.buttons-wrapper button {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #ff69b4;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.buttons-wrapper button:hover {
  background-color: #ff85b3;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 14px 0;
}

.del-enter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.del-enter button {
  width: 100px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #ff69b4;
  color: #ffffff;
}

.del-enter button:hover {
  background-color: #ff85b3;
}

.del-enter button:active {
  background-color: #ff69b4;
}

@media screen and (max-width: 600px) {
  .buttons-wrapper button {
    width: 45px;
    height: 30px;
    font-size: 10px;
  }

  .del-enter button {
    width: 80px;
    font-size: 8px;
  }
}