* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #FFD1DC, #FFE4E1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #4B3F72; /* Deep romantic plum */
  font-size: 2.5rem;
  margin-top: 10px;
}

span {
  color: #7E6A9C; /* Muted lavender-gray */
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.input-holder {
  margin: 20px 0;
  width: 100%;
}

.input-holder input {
  width: 100%;
  height: 55px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid #FF85B3;
  border-radius: 10px;
  color: #5F4B66;
  background-color: #FADADD;
}

.buttons-wrapper button {
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #FF69B4;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

.buttons-wrapper button:hover {
  background-color: #FF85B3;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 14px 0;
}

.del-enter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.del-enter button {
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FF69B4;
  color: #FFFFFF;
}

.del-enter button:hover {
  background-color: #FF85B3;
}
