@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f9e1e1;
  height: 100vh;
  overflow: auto;
}

h1 {
  text-align: center;
  font-size: clamp(20px, 5vw, 40px);
  margin-bottom: 1.3rem;
  color: #ec5276;
}

.timeline_wrapper {
  background-color: rgba(255, 255, 255, 0.774);
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date {
  background-color: #ec5276;
  border-radius: 20px;
  height: 30px;
  width: auto;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  padding: 3px 25px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.2rem;
}

.photo-frame::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 50px;
  background-color: #939192;
  top: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.photo-frame {
  width: 90%;
  border-radius: 4px;
  background-color: #0e0d0de6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  position: relative;
  padding: 10px 10px 25px 10px;
  transform: rotate(-3deg);
  transition: transform 0.3s ease;
}

.photo-frame:hover {
  transform: rotate(0deg) scale(1.02);
}

.photo-frame img {
  border-radius: 4px;
  width: 100%;
}

.description {
  margin-top: 20px;
}

.description h2,
p {
  text-align: center;
}

.description h2 {
  color: #ec5276;
}

.description p {
  font-style: italic;
  color: #333;
}

.back-to-menu {
  text-decoration: none;
  position: fixed;
  top: 2%;
  left: 5%;
  background-color: #ec5276;
  color: #ffe4e1;
  padding: 2px 15px;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
}

.back-to-menu:hover {
  background-color: #f26c8c;
}

.back-to-menu:active {
  background-color: #d44868;
}

@media (min-width: 1024px) {
  .back-to-menu {
    padding: 4px 20px;
  }  
}

@media (max-width: 760px) {
  .photo-frame {
    width: 100%;
  }

  .date {
    font-size: 12px;
    height: fit-content;
  }

  button {
    font-size: 10px;
  }

  .back-to-menu {
    padding: 2px 10px;
  }
}

@media (max-width: 500px) {
  .back-to-menu {
    padding: 2px 10px;
  }
}